@import '../GlobalStyles/GlobalStyles.module.scss';

.overlay {
    font-family: var(--alexandria-font);
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .container {
        min-width: 500px;
        max-width: 700px;
        background-color: #fff;
        border-radius: 4px;

        .modal-dialog {
            display: flex;
            flex-direction: column;
            height: 100%;

            & > * {
                padding: 16px;
            }

            .btn {
                font-size: 16px;
                padding: 12px 12px;
                border: none;
                min-width: 130px;
                color: #fff;
                column-gap: 8px;
                cursor: pointer;
            }

            .modal-header {
                position: relative;
                text-align: center;
                border-bottom: 1px solid #ccc;

                .title {
                    color: #000;
                    font-size: 2rem;
                    font-weight: 600;
                }

                .close {
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0.8;
                    display: flex;
                    align-items: center;
                    color: red;
                    font-size: 30px;

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                        font-weight: 600;
                    }
                }
            }

            .modal-body {
                flex: 1;
                border-bottom: 1px solid #ccc;
                display: flex;
                align-items: center;
                padding: 20px;

                .image-display {
                    padding: 0 40px;

                    .label {
                        width: 100%;
                        height: 100%;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;

                        .image {
                            width: inherit;
                            height: inherit;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .actions {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 12px;
                    width: 180px;
                    cursor: pointer;

                    .change {
                        background-color: blue;

                        .label {
                            cursor: pointer;
                        }
                    }

                    .crop {
                        background-color: var(--primary-color);
                    }

                    .delete {
                        background-color: red;
                    }

                    .right-icon {
                        display: grid;
                        place-items: center;
                    }
                }
            }

            .modal-footer {
                padding: 12px;
                display: flex;
                justify-content: center;
                column-gap: 20px;

                .btn {
                    min-width: 100px;
                }

                .cancel {
                    color: #000;
                }

                .finish {
                    color: #fff;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}
