@import '../GlobalStyles/GlobalStyles.module.scss';

.overlay {
    font-family: var(--alexandria-font);
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .container {
        max-height: calc(100% - 12px);
        overflow: auto;
        width: 800px;
        max-width: calc(100% - 12px);
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        flex-direction: column;

        .modal-header {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 12px;
            border-bottom: 1px solid #ccc;

            .app-password-form {
                flex: 1;
                display: flex;
                align-items: center;
                column-gap: 12px;

                .input {
                    flex: 1;
                    height: 40px;
                    padding: 0 12px;
                    border: 1px solid #b3b3b3;
                    border-radius: 4px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                }

                .send-button {
                    height: 40px;
                    width: 100px;
                    color: #fff;
                    background-color: var(--auth-hover-input-border-color-green);
                    cursor: pointer;
                }
            }

            .close {
                margin-left: 12px;
                opacity: 0.8;
                display: flex;
                align-items: center;
                color: red;
                font-size: 32px;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    font-weight: 600;
                }
            }
        }

        .warning {
            font-weight: 500;
            color: #ff453a;
            background-color: yellow;
            font-size: 1.4rem;
            padding: 8px 12px;
            width: 100%;
        }

        .modal-body {
            padding: 12px 24px;
            display: flex;
            flex-direction: column;
            overflow: auto;
            height: 500px;
            margin-bottom: 12px;

            .guide-container {
                .text {
                    border-top: 1px solid #bbb;
                    padding-top: 12px;
                }

                .image {
                    max-width: 100%;
                    width: 300px;
                    margin: 12px auto 20px;
                    display: block;

                    &.step-4,
                    &.step-5,
                    &.step-6 {
                        width: 540px;
                    }
                }

                &:first-child {
                    .text {
                        border-top: none;
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

// Tablet + Mobile
@media (max-width: 991px) {
    .overlay {
        .container {
            .modal-header {
                .title {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

// Mobile
@media (max-width: 767px) {
    .overlay {
        .container {
            .modal-header {
                .title {
                    font-size: 1.8rem;
                }
            }

            .btn {
                min-width: 100px;
            }

            .modal-body {
                padding: 16px;
                flex-direction: column;
                padding: 12px;
            }
        }
    }
}
