@import '../GlobalStyles/GlobalStyles.module.scss';

.overlay {
    font-family: var(--alexandria-font);
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .container {
        max-height: calc(100% - 24px);
        overflow: auto;
        width: 700px;
        max-width: calc(100% - 24px);
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 16px;

        .modal-header {
            position: relative;
            text-align: center;
            padding-bottom: 16px;
            border-bottom: 1px solid #ccc;

            .title {
                color: #000;
                font-size: 2rem;
                font-weight: 600;
            }

            .close {
                position: absolute;
                right: 0;
                top: 0;
                transform: translateY(-6px);
                opacity: 0.8;
                display: flex;
                align-items: center;
                color: red;
                font-size: 32px;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    font-weight: 600;
                }
            }
        }

        .modal-body {
            padding: 20px;
            flex: 1;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            column-gap: 40px;

            &.iscrop {
                padding: 0;
            }
        }

        .modal-footer {
            padding-top: 16px;
            display: flex;
            justify-content: center;
            column-gap: 20px;

            .btn {
                font-size: 1.6rem;
                padding: 10px;
                border: none;
                min-width: 100px;
                color: #fff;
                column-gap: 8px;
                cursor: pointer;
            }

            .cancel {
                color: #000;
            }

            .finish {
                color: #fff;
                background-color: var(--primary-color);
            }
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

// Tablet
@media (min-width: 768px) and (max-width: 991px) {
}

// Mobile
@media (max-width: 767px) {
    .overlay {
        .container {
            .btn {
                min-width: 100px;
            }

            .modal-body {
                flex-direction: column;
            }
        }
    }
}
