@import '../GlobalStyles/GlobalStyles.module.scss';

.overlay {
    font-family: var(--alexandria-font);
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .container {
        max-height: calc(100% - 12px);
        overflow: auto;
        width: 1000px;
        max-width: calc(100% - 12px);
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        flex-direction: column;

        .modal-header {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 8px 12px 8px 20px;
            background-color: var(--auth-hover-input-border-color-green);
            color: #fff;

            .title {
                flex: 1;
                font-size: 2rem;
                font-weight: 500;
            }

            .close {
                display: flex;
                align-items: center;
                color: #fff;
                background-color: red;
                font-size: 28px;
                cursor: pointer;
            }
        }

        .modal-body {
            flex: 1;
            padding: 12px;
            display: flex;
            flex-direction: column;
            height: 500px;

            .email-header {
                .email-info-group {
                    padding: 8px 0;
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    align-items: center;

                    .label {
                        display: inline-block;
                        min-width: 110px;
                    }

                    .input {
                        font-size: 1.5rem;
                        flex: 1;
                    }
                }
            }

            .background {
                min-width: 740px;
                margin-top: 12px;
                background-color: #f3f3f3;
                overflow: auto;
                display: flex;
                flex-direction: column;

                .content {
                    margin: auto;
                    width: 740px;

                    .logo {
                        display: block;
                        width: 300px;
                        max-width: calc(100% - 24px);
                        margin: 20px auto 0;
                    }

                    .cover-letter {
                        --text-color: #444;

                        margin: 30px auto 40px;
                        font-family: prompt, Arial, Helvetica, sans-serif;
                        padding: 20px 46px;
                        font-size: 1.5rem;
                        line-height: 1.4;
                        color: var(--text-color);
                        display: flex;
                        flex-direction: column;
                        background-color: #fff;

                        .title {
                            margin: 24px 0 16px;
                            font-size: 24px;
                            font-weight: 600;
                            color: #000;
                            text-align: center;
                            text-transform: uppercase;
                            display: flex;
                            align-items: center;

                            .job-title {
                                flex: 1;
                                min-width: 300px;
                                padding: 4px;
                                margin-left: 8px;
                                border-radius: 4px;
                                font-size: 24px;
                                font-weight: 600;
                                background-color: rgb(4 89 117/0.1);
                                color: rgb(4 89 117);
                                border-bottom: 2px solid rgb(4 89 117);

                                &::placeholder {
                                    font-size: 24px;
                                    font-weight: 400;
                                    line-height: 1.4;
                                    color: #8d8b8b;
                                }
                            }
                        }

                        .candidate-info {
                            padding: 16px 24px;
                            display: flex;
                            align-items: center;
                            background: #f4e8f8;
                            border-radius: 20px;

                            .basic-info {
                                display: flex;
                                align-items: center;
                                column-gap: 30px;

                                .candidate-image {
                                    width: 180px;
                                    height: 180px;
                                    border-radius: 50%;
                                    object-fit: cover;
                                    border: 1px solid #ccc;
                                }

                                .candidate-desc {
                                    display: flex;
                                    flex-direction: column;

                                    .candidate-name {
                                        margin: 0;
                                        font-size: 22px;
                                        font-weight: 700;
                                        line-height: 1.4;
                                        text-transform: uppercase;
                                        color: #ff881d;
                                    }

                                    .candidate-job {
                                        margin-top: 4px;
                                        font-size: 20px;
                                        line-height: 1.4;
                                        font-weight: 700;
                                        color: #496c92;
                                    }

                                    .contact-info-title {
                                        width: fit-content;
                                        margin: 12px 0 4px;
                                        padding: 4px 16px;
                                        font-size: 18px;
                                        font-weight: 700;
                                        line-height: 1.4;
                                        color: #ff881d;
                                        background-color: #faf6c6;
                                        border-radius: 30px;
                                    }

                                    .contact-group {
                                        margin-top: 4px;
                                        margin-left: 16px;
                                        color: #496c92;
                                        display: flex;
                                        column-gap: 8px;

                                        .label {
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }

                        .letter {
                            margin-top: 30px;

                            .input-info {
                                flex: 1;
                                min-width: 300px;
                                height: 100%;
                                padding: 2px 4px;
                                margin: 1px 4px;
                                border-radius: 4px;
                                color: var(--text-color);
                                font-size: 15px;
                                font-weight: 700;
                                background-color: rgb(4 89 117/0.1);
                                color: rgb(4 89 117/1);
                                border-bottom: 2px solid rgb(4 89 117/1);

                                &::placeholder {
                                    font-size: 15px;
                                    font-weight: 300;
                                    color: #8d8b8b;
                                }

                                &.company-name {
                                    margin: 0 4px;
                                }

                                &.letter {
                                    font-weight: 300;
                                }
                            }

                            .letter-header {
                                font-weight: 700;
                                display: flex;
                                flex-direction: column;
                                row-gap: 4px;

                                .line {
                                    display: flex;
                                    align-items: center;

                                    .input-info {
                                        flex: 1;
                                    }
                                }
                            }

                            .letter-body {
                                margin-top: 16px;
                                display: flex;
                                flex-direction: column;
                                row-gap: 12px;

                                .paragraph {
                                    margin-top: 4px;
                                    line-height: 1.4;

                                    &.hightlight {
                                        border: 2px solid red;
                                        padding: 6px 8px;
                                        border-radius: 4px;
                                        font-weight: 600;
                                    }
                                }

                                .button-container {
                                    margin: 16px auto;
                                    display: flex;
                                    flex-direction: column;
                                    width: 344px;
                                    justify-content: center;
                                    row-gap: 16px;

                                    .button {
                                        height: 44px;
                                        padding: 0 12px;
                                        line-height: 44px;
                                        text-align: center;
                                        font-size: 16px;
                                        font-weight: 600;
                                        border: none;
                                        color: #fff;
                                        background-color: var(--primary-color);
                                        border-radius: 4px;
                                        cursor: pointer;

                                        &.product {
                                            column-gap: 4px;

                                            .logo {
                                                width: 26px;
                                                height: 26px;
                                                padding: 0;
                                                margin: 0;
                                            }

                                            .text {
                                                margin-top: 6px;
                                            }
                                        }

                                        &.github {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            column-gap: 8px;
                                            background-color: #000;

                                            .icon {
                                                font-size: 24px;
                                            }
                                        }
                                    }
                                }

                                .github-link-container {
                                    position: relative;
                                    margin-top: -12px;
                                    display: flex;
                                    align-items: center;
                                    column-gap: 12px;

                                    .label {
                                        font-size: 1.5rem;
                                        font-weight: 600;
                                    }

                                    .github-link-input {
                                        height: 30px;
                                        flex: 1;
                                        margin-left: auto;
                                        margin-right: auto;
                                        padding: 4px 36px 4px 12px;
                                        font-size: 1.4rem;
                                        border: 1px dashed #000;
                                        border-radius: 2px;

                                        &:valid {
                                            border-style: solid;
                                        }
                                    }

                                    .icon-wrapper {
                                        position: absolute;
                                        top: 50%;
                                        right: 12px;
                                        transform: translate(0, -50%);
                                        display: grid;
                                        place-items: center;

                                        .icon {
                                            &.verified {
                                                font-size: 18px;
                                                color: green;
                                            }

                                            &.error {
                                                font-size: 20px;
                                                margin-top: -1px;
                                                color: red;
                                                cursor: pointer;
                                            }
                                        }
                                    }

                                    &.not-github-link {
                                        .label {
                                            color: red;
                                        }

                                        .github-link-input {
                                            border: 1px dashed red;

                                            &:valid {
                                                border-style: solid;
                                            }
                                        }
                                    }

                                    &.github-link-valid {
                                        .label {
                                            color: var(--primary-color);
                                        }

                                        .github-link-input {
                                            border: 1px dashed var(--primary-color);

                                            &:valid {
                                                border-style: solid;
                                            }
                                        }
                                    }
                                }

                                .note {
                                    margin: 40px 0 14px;
                                    font-size: 14px;
                                    text-align: center;
                                    color: #888;

                                    .link {
                                        color: #15c;
                                    }
                                }
                            }
                        }
                    }
                }

                .attachment {
                    .cv-pdf-upload {
                        margin: auto;
                        width: 520px;
                        border: 1px solid var(--auth-hover-input-border-color-green);
                        display: flex;
                        align-items: center;

                        .display-pdf-file {
                            margin: 0 8px;
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 4px;

                            .pdf-file-name {
                                max-width: 300px;
                                font-size: 1.4rem;
                                font-weight: 300;
                                word-break: break-all;

                                @include line-clamp;
                            }

                            .delete-file {
                                display: grid;
                                place-items: center;
                                font-size: 20px;
                                color: red;
                                cursor: pointer;
                            }
                        }

                        .no-file-selected {
                            margin: 0 8px;
                            flex: 1;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 300;
                        }

                        .upload-btn {
                            width: 160px;
                            margin-left: auto;
                            padding: 6px 8px;
                            border-right: 1px solid var(--primary-color);
                            font-weight: 400;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            column-gap: 8px;
                            color: #fff;
                            background-color: var(--primary-color);
                            cursor: pointer;

                            .icon {
                                font-size: 24px;
                                color: currentColor;
                            }
                        }
                    }

                    .image-upload {
                        margin-top: 16px;
                        display: flex;
                        justify-content: center;
                        column-gap: 20px;

                        .btn {
                            height: 42px;
                            font-size: 1.6rem;
                            background-color: #fff;
                            user-select: none;
                            cursor: pointer;

                            .icon {
                                font-size: 24px;
                                color: currentColor;
                            }

                            &.upload {
                                width: 200px;
                                padding: 4px 8px;
                                border: 1px solid var(--primary-color);
                                border-radius: 4px;
                                font-weight: 400;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                column-gap: 8px;
                                color: var(--primary-color);

                                &:hover {
                                    color: #fff;
                                    background-color: var(--primary-color);
                                }
                            }

                            &.crop {
                                width: 140px;
                                color: purple;
                                border: 1px solid currentColor;
                                column-gap: 4px;

                                &:hover {
                                    color: #fff;
                                    background-color: purple;
                                }
                            }

                            &.delete {
                                width: 140px;
                                color: red;
                                border: 1px solid currentColor;
                                column-gap: 4px;

                                &:hover {
                                    color: #fff;
                                    background-color: red;
                                }
                            }
                        }
                    }

                    .image-display {
                        display: block;
                        margin: 20px 0 80px;

                        .image {
                            width: 100%;
                            height: fit-content;
                            object-fit: contain;
                            border: 1px solid #ccc;
                        }
                    }
                }
            }
        }

        .modal-footer {
            padding: 12px;
            display: flex;
            justify-content: center;
            column-gap: 20px;
            border-top: 1px solid #ccc;

            .cancel-button {
                @include cancel-button-modal-footer;
            }

            .finish-button {
                @include finish-button-modal-footer;
            }
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

// =========================================================================
// Tablet + Mobile
@media (max-width: 991px) {
    .overlay {
        .container {
            .modal-header {
                .title {
                    font-size: 1.8rem;
                }
            }

            .modal-body {
                .email-header {
                    .email-info-group {
                        font-size: 1.5rem;

                        .label {
                        }

                        .input {
                        }
                    }
                }
            }
        }
    }
}

// =========================================================================
// Mobile
@media (max-width: 767px) {
    .overlay {
        .container {
            .modal-header {
                .title {
                    font-size: 1.8rem;
                }
            }

            .modal-body {
                .background {
                    min-width: 0;

                    .attachment {
                        width: 740px;
                        padding: 0 12px;

                        .cv-pdf-upload {
                            width: 520px;
                            margin: auto;
                        }

                        .image-upload {
                            width: 544px;
                            padding: 0 12px;
                            margin: auto;
                            margin-top: 16px;
                        }
                    }
                }

                .email-header {
                    .email-info-group {
                        .label {
                            min-width: 100px;
                        }
                    }
                }
            }

            .modal-footer {
                .btn {
                    min-width: 100px;
                }
            }
        }
    }
}
