@import '../../GlobalStyles/GlobalStyles.module.scss';

.menu-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 360px;
    background-color: #fff;

    .submenu-header {
        display: flex;
        align-items: center;
        position: relative;

        .button-back {
            // position: absolute;
            background-color: #fff;
            width: auto;
            padding: 0;

            .arrow-left {
                font-size: 2rem;
                color: black;
                padding: 8px;
                border-radius: 50%;

                &:hover {
                    color: var(--primary-color);
                }
            }

            .text {
                flex: 1;
                display: inline-block;
                text-align: center;
            }
        }

        .text {
            flex: 1;
            font-size: 1.5rem;
            text-align: center;
            padding: 8px;
        }
    }

    .container {
        @include btn-in-menu;
    }
}
