<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lấy lại mật khẩu - cvonline.com</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/reset-password.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script>
            const errorCode = '<%- JSON.stringify(errorCode)%>';
            if (JSON.parse(errorCode) === 0) {
                const isRedirect = confirm('Đổi mật khẩu thành công. Bạn có muốn đăng nhập ngay?');
                if (isRedirect) {
                    window.location.href = 'http://localhost:2407/';
                }
            }
        </script>
    </head>
    <body>
        <div class="auth-container">
            <div class="inner">
                <img src="/img/logo-with-text.png" alt="cvonline.com" class="logo" />

                <div class="reset-password-container">
                    <form class="form-reset-password" method="POST" action="">
                        <p class="title">Tạo lại mật khẩu của bạn</p>

                        <div class="form-group">
                            <label htmlFor="password" class="label"> Mật khẩu mới </label>
                            <div class="input-container">
                                <input
                                    type="password"
                                    id="password"
                                    class="input"
                                    name="password"
                                    placeholder="Nhập mật khẩu mới"
                                />
                                <div class="toggle-show-password"><i class="fa-solid fa-eye green-eye"></i></div>
                            </div>
                            <div class="message-container">
                                <ul class="rule-password">
                                    <li>Mật khẩu từ 6 đến 25 ký tự</li>
                                    <li>Bao gồm chữ hoa, chữ thường và ký tự số</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label htmlFor="confirmedPassword" class="label"> Xác nhận mật khẩu </label>
                            <div class="input-container">
                                <input
                                    type="password"
                                    id="confirmedPassword"
                                    class="input"
                                    name="confirmedPassword"
                                    placeholder="Nhập lại mật khẩu"
                                />
                                <div class="toggle-show-password"><i class="fa-solid fa-eye green-eye"></i></div>
                            </div>
                        </div>

                        <button type="submit" class="submit-btn">Tạo lại mật khẩu</button>
                    </form>

                    <div class="switch-to-signin-signup">
                        <a href="http://localhost:2407/signin" class="btn">Đăng nhập</a>

                        <a href="http://localhost:2407/signup" class="btn">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
