<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lấy lại mật khẩu - cvonline.com</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/reset-password.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <div class="auth-container">
            <div class="inner redirect-inner">
                <p class="reset-password-container redirect-message"><%= message%></p>
                <p class="text">Thời gian chuyển đến trang đích</p>
                <p class="countdown" id="countdown">3</p>
            </div>
        </div>

        <script>
            const timer = document.getElementById('countdown');

            var second = 2;
            var countdown = setInterval(function () {
                timer.innerText = second;
                second--;
                if (second < 0) {
                    clearInterval(countdown);
                    window.location.href = '<%= redirectURL%>';
                }
            }, 1000);
        </script>
    </body>
</html>
