@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.button {
    font-family: var(--alexandria-font) !important;
    background-color: #f4f5f5;
    border-radius: 6px;
    padding: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 1.4rem;
    width: 100%;

    .left-icon {
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        color: var(--primary-color);
    }

    .text {
        margin-left: 16px;
        font-weight: 500;
    }

    .right-icon {
        box-sizing: content-box;
        display: flex;
        align-items: center;
        opacity: 0;
        font-size: 20px;
        margin-left: auto;
    }
}
