@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.button {
    position: relative;
    font-family: var(--alexandria-font) !important;
    background-color: #f4f5f5;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 1.4rem;
    column-gap: 16px;
}
