// Image icon
.image-icon {
    border-radius: 50%;
    object-fit: contain;
    border: none;
    border: 3px solid transparent;
}

// Image
.wapper {
    position: relative;
    height: 100%;

    &:hover {
        .overlay {
            opacity: 1;
        }
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.25s;

        .button-lg {
            inset: 0;
            width: auto;
            padding: 4px 20px;
            min-width: 120px;
            height: 44px;
            background-color: var(--text-color);
            color: #fff;

            &:hover {
                .text {
                    color: #fff;
                    background-color: var(--text-color);
                }
            }
        }

        .button-sm {
            color: #000;
            background-color: transparent;

            &:hover {
                .text {
                    color: #000;
                }
            }
        }
    }
}
