@import '../GlobalStyles/GlobalStyles.module.scss';

.wapper {
    position: relative;

    &.mouse-enter:hover {
        .image {
            cursor: pointer;
            opacity: 0.6;
            border: 1px solid var(--primary-color);
        }

        .edit-button {
            opacity: 1;
        }

        .edit-text {
            color: var(--primary-color);
            background-color: 0.5;
        }
    }

    .image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        overflow: hidden;
        opacity: 1;
        border: 1px solid transparent;

        &.round {
            border-radius: 50%;
        }
    }

    .edit-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        padding: 12px;
        background-color: var(--primary-color);
        color: #fff;
        opacity: 0;
    }

    .edit-text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: transparent;
        color: transparent;
    }
}
