.carousel {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100%;
    overflow: hidden;

    .slider {
        position: absolute;
        left: 0;
        width: 300%;
        display: flex;
        align-items: center;

        .img-wrapper {
            width: calc(100% / 3);
            text-align: center;
            flex-direction: column;
            display: flex;
            align-items: center;
            flex: 1;
            padding: 0 100px;

            .image {
                display: block;
                width: 100%;
            }

            .title {
                width: 420px;
                color: #212f3f;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2;
                margin: 12px 0;
            }

            .desc {
                width: 420px;
                color: rgba(0, 0, 0, 0.851);
                font-size: 1.6rem;
                line-height: 1.6;
                width: 100%;
                padding: 4px;
            }
        }
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
