.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--green-03);

    .wrapper {
        max-width: 100%;
        position: relative;

        .button {
            top: 50%;
            height: 50px;
            width: 50px;
            cursor: pointer;
            font-size: 24px;
            color: var(--primary-color);
            position: absolute;
            text-align: center;
            line-height: 50px;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
            transform: translateY(-50%);
            transition: transform 0.1s linear;
            display: flex;
            justify-content: center;
            align-items: center;

            &:active {
                transform: translateY(-50%) scale(0.85);
            }

            &:first-child {
                left: -40px;
                padding-right: 4px;
            }

            &:last-child {
                right: -40px;
                padding-left: 4px;
            }
        }

        .carousel {
            width: 500px;
            max-width: 100%;
            display: flex;
            overflow-x: hidden;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &.no-transition {
                scroll-behavior: auto;
            }

            &.dragging {
                scroll-snap-type: none;
                scroll-behavior: auto;

                .card {
                    cursor: grab;
                    user-select: none;
                }
            }

            .card {
                scroll-snap-align: start;
                flex-shrink: 0;
                width: 500px;
                max-width: 100%;
                height: 400px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: var(--green-03);
                cursor: pointer;

                .img {
                    display: inline-block;
                    width: 100%;
                    height: 300px;
                    object-fit: contain;
                }

                .heading {
                    font-weight: 500;
                    font-size: 2rem;
                }
            }
        }
    }
}
