// Header
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

// Container
.container {
    display: flex;

    // Side bar
    .sidebar {
        padding: 0 8px;
        background-color: #fff;
        border-right: 1px solid #e4e6eb;
        position: sticky;
        top: 60px;

        .page {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #404040;
            padding: 12px 12px;
            border-radius: 20px;
            margin-top: 8px;
            transition: 0.25s;

            &:hover {
                background-color: #e8ebed;
                cursor: pointer;
            }

            .icon {
                font-size: 22px;
            }

            .name {
                font-size: 1.6rem;
                padding-top: 8px;
            }
        }
    }

    // Main
    .main {
        flex-grow: 1;
        background-color: #f0f2f5;

        .wrapper {
            width: 1200px;
            padding: 20px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 380px auto;

            // Column left
            .col-left {
                padding: 20px;
                color: #fff;
                background-color: #37474f;

                // Candidate
                .candidate {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 50px 0;

                    .avatar {
                        width: 170px;
                        height: 170px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 3px solid red;
                        outline: 10px solid rgb(255, 133, 133);
                    }

                    .name {
                        font-size: 3rem;
                        font-weight: 600;
                        margin-top: 30px;
                    }
                }

                // Info
                .candidate-info {
                    padding: 12px 0 20px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                    border-bottom: 1px solid #fff;

                    .text {
                        font-size: 1.8rem;
                        font-weight: 600;
                    }

                    .content {
                        margin-top: 8px;
                        display: flex;
                        flex-direction: column;

                        .info {
                            display: flex;
                            padding: 8px 8px 0;

                            .icon {
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                background-color: green;
                                margin-right: 8px;
                                padding: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-shrink: 0;
                                color: #fff;
                            }

                            .info-text {
                                margin-top: 4px;
                                font-size: 1.5rem;
                                line-height: 1.6;
                                font-weight: 300;
                            }
                        }
                    }
                }

                // Literacy
                .literacy {
                    padding: 40px 0 20px;
                    border-bottom: 1px solid #fff;

                    .text {
                        font-size: 1.8rem;
                        font-weight: 600;
                    }

                    .content {
                        margin-top: 8px;
                        display: flex;
                        flex-direction: column;

                        .info {
                            display: flex;
                            padding: 8px 8px 0;

                            .icon {
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                background-color: green;
                                margin-right: 8px;
                                padding: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-shrink: 0;
                                color: #fff;
                            }

                            .info-text {
                                margin-top: 4px;
                                font-size: 1.5rem;
                                line-height: 1.6;
                                font-weight: 300;
                            }
                        }
                    }
                }

                // Languages
                .Languages {
                    padding: 40px 0 20px;
                    border-bottom: 1px solid #fff;

                    .text {
                        font-size: 1.8rem;
                        font-weight: 600;
                    }

                    .content {
                        margin-top: 8px;
                        display: flex;
                        flex-direction: column;

                        .info {
                            display: flex;
                            padding: 8px 8px 0;

                            .icon {
                                height: 30px;
                                width: 30px;
                                border-radius: 50%;
                                background-color: green;
                                margin-right: 8px;
                                padding: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-shrink: 0;
                                color: #fff;
                            }

                            .info-text {
                                margin-top: 4px;
                                font-size: 1.5rem;
                                line-height: 1.6;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            // Column right
            .col-right {
                .row-job-title {
                    background-color: #212a2f;

                    .job-title {
                        padding: 50px 20px;
                        display: block;
                        font-size: 5rem;
                        font-weight: 700;
                        text-align: center;
                        color: #fff;
                    }

                    .skills {
                        margin-top: 20px;
                        font-size: 3rem;
                        font-weight: 500;
                    }
                }

                // experience
                .experience {

                    .real-product {
                        grid-column: 1 / 3;
                        padding: 12px 4px;

                        .title {
                            padding: 6px 4px 4px 6px;
                            text-align: center;
                            font-size: 3rem;
                            color: #41bc8a;
                            font-weight: 600;
                        }
                    }

                    .product-list {
                        display: grid;
                        grid-template-columns: auto;
                        row-gap: 12px;
                        background-color: #f0f2f5;

                        .projects {
                            flex: 1;
                        }

                        .libaries {
                            width: 380px;
                        }
                    }
                }
            }
        }
    }
}
