.wrapper {
    min-height: 100vh;
    display: flex;

    .col-left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(73, 178, 83, 0.2);
    }

    .col-right {
        flex: 1;
        display: flex;
        align-items: center;
    }
}
