@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.container {
    background-color: var(--auth-bgc-grey);
    padding: 40px 0;
}

// Mobile + Tablet
@media (max-width: 991px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}
