.wrapper {
    min-height: 100vh;
    display: flex;
    flex: 1;

    .col-left {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(73, 178, 83, 0.2);
        overflow: hidden;
    }

    .col-right {
        flex: 1;
        display: flex;
        align-items: center;
    }
}

/* Mobiel + Tablet : width <= 1023px */
@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Mobile : width <= 739px */
@media (max-width: 46.1875em) {
}

/* Tablet : 740px <= width <= 1023px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}
