.container {
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .company {
        display: flex;
        align-items: center;
        column-gap: 6px;
        font-size: 2rem;
        color: #41bc8a;
        font-weight: 600;
        border-left: 4px solid #41bc8a;

        .name {
            padding: 4px 6px;
        }
    }

    .description {
        margin-bottom: 4px;

        .job-title {
            font-size: 1.4rem;
            line-height: 1.6;
            padding: 6px 6px 6px 16px;
            color: #222;
            width: 720px;
            text-align: justify;

            &[contentEditable] {
                &:empty:not(:focus):before {
                    content: attr(data-placeholder);
                    color: #999;
                    font-style: italic;
                    font-weight: 300;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .product-detail {
        display: flex;

        .col-left {
            flex: 1;

            .product-image {
                padding-right: 12px;
                height: fit-content;

                .image {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }

            .product-image + .section {
                margin-top: 20px;
            }

            .section {
                margin-top: 8px;

                .title {
                    margin-top: 4px;
                    padding: 2px 12px;
                    font-size: 1.8rem;
                    line-height: 1.6;
                    font-weight: 600;
                    color: #41bc8a;
                    border-left: 4px solid #41bc8a;
                }

                .list {
                    margin-top: 4px;
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    row-gap: 2px;
                    flex-wrap: wrap;
                }
            }
        }

        .col-right {
            width: 300px;
            
            .library-used {
                display: flex;
                flex-direction: column;
                padding: 8px;
                border: 1px solid #41bc8a;

                .library-heading {
                    font-size: 1.8rem;
                    font-weight: 600;
                    padding: 8px 8px;
                    text-align: center;
                    color: #41bc8a;
                }

                .divide {
                    margin-top: 8px;
                    display: flex;
                    justify-content: space-evenly;

                    .text {
                        flex: 1;
                        display: inline-block;
                        padding: 8px;
                        text-align: center;
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: #41bc8a;
                        border: 1px solid #41bc8a;
                        cursor: pointer;

                        &.active {
                            color: #fff;
                            border: 1px solid #41bc8a;
                            background-color: #41bc8a;
                            opacity: 0.6;
                        }
                    }
                }

                .library-list {
                    margin-top: 12px;
                    display: flex;
                    flex-direction: column;
                }

                .lits {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;
                }

                .paganition {
                    margin-top: 12px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
