@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.not-found-section {
    background-color: #f0f2f5;
    min-height: calc(100vh - var(--header-height-pc));
    display: grid;
    place-items: center;

    .not-found-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .number {
            font-size: 20rem;
        }

        .text {
            font-size: 3rem;
        }
    }
}

// =================================================================
// Tablet
@media (min-width: 768px) and (max-width: 991px) {
    .not-found-section {
        min-height: calc(100vh - 2 * var(--header-height-tablet));

        .not-found-container {
            .number {
                font-size: 16rem;
            }

            .text {
                font-size: 2.5rem;
            }
        }
    }
}

// =========================================================================
// Mobile
@media (max-width: 767px) {
    .not-found-section {
        min-height: calc(100vh - 2 * var(--header-height-mobile));

        .not-found-container {
            .number {
                font-size: 12rem;
            }

            .text {
                font-size: 2rem;
            }
        }
    }
}
