@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.not-found {
    min-height: calc(100vh - var(--header-height-pc));
    flex: 1;
    display: grid;
    place-items: center;
    padding: 12px;
    background: #fff;

    .not-found-inner {
        text-align: center;

        .image {
            height: 500px;
            width: 500px;
            max-width: 100%;
            object-fit: contain;
        }

        .text {
            position: relative;
            top: -30px;
            font-size: 2.4rem;
            font-weight: 500;
            color: var(--text-color-01);
            text-align: center;
        }
    }
}

.empty-list {
    margin: auto;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
        width: 120px;
        height: 120px;
    }

    .text {
        font-weight: 500;
        color: var(--text-color-01);
    }
}

// =================================================================
// Tablet
@media (min-width: 768px) and (max-width: 991px) {
    .not-found {
        min-height: calc(100vh - 2 * var(--header-height-tablet));

        .not-found-inner {
            .image {
                height: 480px;
                width: 480px;
            }
        }
    }
}

// =========================================================================
// Mobile
@media (max-width: 767px) {
    .not-found {
        min-height: calc(100vh - 2 * var(--header-height-mobile));

        .not-found-inner {
            .image {
                height: 400px;
                width: 400px;
                object-fit: contain;
            }
        }
    }
}
