@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.not-found-section {
    background-color: #f0f2f5;
    height: calc(100vh - var(--header-height-pc));
    display: grid;
    place-items: center;

    .not-found-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .number {
            font-size: 20rem;
        }

        .text {
            font-size: 3rem;
        }
    }
}
