@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.product-container {
    position: relative;

    & > * {
        font-family: var(--alexandria-font);
        cursor: default;
    }

    .product {
        --text-color: #4abc8b;

        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 40px 16px 0;

        &.margin-top-product {
            padding-top: 40px;
        }

        .product-name-desc-image {
            .product-name {
                font-family: var(--roboto-font);
                font-size: 2rem;
                line-height: 1.4;
                font-weight: 600;
                color: var(--text-color);
                border: 1px solid transparent;
                border-left: 4px solid var(--green-color-01);
                outline: none;
                cursor: default;

                &:empty:before {
                    content: attr(placeholder);
                    color: #999;
                    font-style: italic;
                    font-weight: 300;
                    word-break: break-word;
                }

                &.contentEditable {
                    &:focus,
                    &:hover {
                        cursor: text;
                        border: 1px dashed var(--green-color-01);
                        border-left: 4px solid var(--green-color-01);
                    }
                }
            }

            .product-desc {
                font-family: var(--roboto-font);
                width: 100%;
                margin-top: 4px;
                padding: 4px;
                background-color: transparent;
                color: #222;
                font-size: 1.6rem;
                line-height: 1.6;
                font-weight: 300;
                word-break: break-all;
                overflow: hidden;
                border: 1px solid transparent;
                word-break: break-word;
                outline: none;

                &:empty:before {
                    content: attr(placeholder);
                    color: #999;
                    font-style: italic;
                    font-weight: 300;
                    word-break: break-word;
                }

                &.contentEditable {
                    &:focus,
                    &:hover {
                        cursor: text;
                        border: 1px dashed #999;
                    }
                }
            }

            .product-image {
                margin-top: 12px;
                position: relative;

                .edit-image-button {
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.8rem;
                    padding: 8px 12px;
                    border-radius: 4px;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
                    background-color: var(--primary-color);
                    color: #fff;
                    display: none;
                    cursor: pointer;
                }

                .image {
                    height: auto;
                    max-height: 600px;
                    width: 100%;
                    object-fit: contain;
                    border-radius: 0;
                }

                &:hover {
                    .edit-image-button {
                        display: inline-block;
                    }
                }
            }
        }

        .source-code-section {
            margin-top: 24px;
        }

        .technology {
            margin-top: 24px;
            display: flex;

            .server {
                @include flex-max-width-50;

                .server-side-title {
                    font-family: var(--alexandria-font);
                    display: block;
                    font-size: 1.8rem;
                    padding: 8px;
                    text-align: center;
                    font-weight: 600;
                    color: #fff;
                    border: 1px solid var(--primary-color);
                    background-color: var(--primary-color);

                    &.hide-FE {
                        display: none;
                    }

                    &.hide-BE {
                        display: none;
                    }
                }

                .technology-used {
                    font-family: var(--alexandria-font);
                    border: 1px dashed var(--green-color-01);
                    margin: 16px 0;
                    padding: 12px;

                    &:hover {
                        border-style: solid;
                    }

                    .technology-used-title {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 12px;

                        .title {
                            display: inline-block;
                            font-size: 1.6rem;
                            padding: 8px 16px;
                            text-align: center;
                            font-weight: 600;
                            color: #fff;
                            border: 1px solid currentColor;
                            border-radius: 99px;
                            background-color: var(--button-bgc-green-01);
                        }
                    }

                    .list {
                        margin-top: 4px;
                        display: flex;
                        align-items: center;
                        row-gap: 2px;
                        flex-wrap: wrap;
                    }

                    &.hide-FE {
                        @include flex-max-width-50;
                        margin: 0;
                    }

                    &.hide-BE {
                        @include flex-max-width-50;
                        margin: 0;
                    }
                }

                .library-used {
                    font-family: var(--alexandria-font);
                    display: flex;
                    flex-direction: column;
                    row-gap: 12px;
                    position: relative;
                    border: 1px dashed var(--green-color-01);
                    padding: 12px;

                    &:hover {
                        border-style: solid;
                    }

                    .library-used-title {
                        display: flex;
                        justify-content: center;

                        .title {
                            display: inline-block;
                            font-size: 1.6rem;
                            padding: 8px 16px;
                            text-align: center;
                            font-weight: 600;
                            color: #fff;
                            border: 1px solid currentColor;
                            border-radius: 99px;
                            background-color: var(--button-bgc-green-01);
                        }
                    }

                    .library-filter-sort {
                        display: flex;
                        height: 32px;
                        column-gap: 6px;
                        align-items: center;

                        .library-filter {
                            @include flex-max-width-60;
                            border: 1px solid var(--primary-color);
                            border-radius: 99px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            overflow: hidden;

                            .library-filter-search {
                                padding: 0 8px;
                                flex: 1;
                                height: 100%;
                                width: 100%;
                                line-height: 100%;
                                font-size: 1.4rem;
                                line-height: 1.6;
                                color: #444;
                            }

                            .library-filter-clear {
                                height: 100%;
                                display: none;
                                place-items: center;
                                font-size: 16px;
                                color: #999;
                                padding-right: 8px;
                                cursor: pointer;

                                &.show {
                                    display: grid;
                                }
                            }
                        }

                        .library-sort {
                            @include flex-max-width-40;
                            max-width: 100%;
                            margin: 12px 0;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            column-gap: 8px;

                            .label {
                                font-size: 1.4rem;
                                color: var(--green-color-01);
                                font-weight: 500;
                                white-space: nowrap;
                            }

                            .sort {
                                display: grid;
                                place-items: center;
                                font-size: 24px;
                                flex: 1;
                                text-align: center;
                                line-height: 1.4;
                                color: var(--primary-color);
                                background-color: var(--button-bgc-green-02);
                                border-radius: 4px;
                                padding: 4px;
                                cursor: pointer;

                                &.active-sort {
                                    color: #fff;
                                    background-color: var(--button-bgc-green-01);
                                }
                            }
                        }
                    }

                    .display {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        white-space: nowrap;
                        column-gap: 8px;

                        .label {
                            font-size: 1.4rem;
                            color: var(--green-color-01);
                            font-weight: 500;
                        }

                        .select {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            row-gap: 4px;

                            .button {
                                flex: 0 1 14%;
                                max-width: 100%;
                                display: inline-block;
                                text-align: center;
                                font-size: 1.2rem;
                                line-height: 1.4;
                                color: var(--primary-color);
                                background-color: var(--button-bgc-green-02);
                                border-radius: 4px;
                                padding: 8px 6px;
                                white-space: nowrap;

                                &:hover,
                                &.active {
                                    cursor: pointer;
                                    color: #fff;
                                    background-color: var(--button-bgc-green-01);
                                }

                                &.active {
                                    cursor: default;
                                }
                            }
                        }
                    }

                    .pagination-container {
                        display: grid;
                        place-items: center;
                    }

                    &.hide-FE {
                        @include flex-max-width-50;
                    }

                    &.hide-BE {
                        @include flex-max-width-50;
                    }
                }

                &.front-end {
                    @include flex-max-width-50;
                    flex-shrink: 0;
                    border-right: 1px solid var(--primary-color);
                    padding-right: 16px;
                }

                &.back-end {
                    @include flex-max-width-50;
                    flex-shrink: 0;
                    border-left: 1px solid var(--primary-color);
                    padding-left: 16px;
                }

                &.hide-FE {
                    @include flex-max-width-100;
                    border: none;
                    padding: 0;
                    width: 100%;
                    display: flex;
                    column-gap: 12px;
                }

                &.hide-BE {
                    @include flex-max-width-100;
                    border: none;
                    padding: 0;
                    width: 100%;
                    display: flex;
                    column-gap: 12px;
                }
            }
        }

        .page-number {
            text-align: right;
            color: #555;
            padding: 24px 0;
            font-size: 1.5rem;
            line-height: 1.4;
            padding-right: 8px;
        }
    }
}

.search-result-not-found-FE,
.search-result-not-found-BE {
    margin: 12px 0;
    text-align: center;
    font-size: 1.6rem;
    padding: 4px;
}

// PC revolution < 1400px
@media (max-width: 1400px) {
    .product-container {
        .product {
            padding: 12px 12px 0;

            &.margin-top-product {
                padding-top: 40px;
            }
        }
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 991px) {
    .product-container {
        .product {
            .product-name-desc-image {
                .product-image {
                    margin-top: 12px;
                }
            }

            .technology {
                .server {
                    @include flex-max-width-50;
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}

// Mobile
@media (max-width: 767px) {
    .product-container {
        .product {
            @include flex-max-width-100;

            .product-name-desc-image {
                .product-name {
                    word-break: break-word;
                    line-height: 1.4;
                }

                .product-image {
                    margin-top: 12px;
                }
            }

            .technology {
                margin-top: 0;
                flex-direction: column;

                .server {
                    border: none;
                    padding: 0;
                    margin-top: 24px;
                    flex-direction: column;

                    .technology-used {
                        &.hide-FE {
                            @include flex-max-width-100;
                        }

                        &.hide-BE {
                            @include flex-max-width-100;
                        }
                    }

                    .library-used {
                        @include flex-max-width-100;
                        .library-sort {
                            .sort {
                                max-width: 80px;
                            }
                        }

                        &.hide-FE {
                            @include flex-max-width-100;
                        }

                        &.hide-BE {
                            @include flex-max-width-100;
                        }
                    }

                    &.front-end {
                        @include flex-max-width-100;
                        border-right: none;
                        padding-right: 0;
                    }

                    &.back-end {
                        @include flex-max-width-100;
                        border-left: none;
                        padding-left: 0;
                    }

                    &.hide-FE {
                        row-gap: 24px;
                    }

                    &.hide-BE {
                        row-gap: 24px;
                    }
                }
            }
        }
    }
}
