@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.library-href {
    @include tooltip-text-line-clamp;
}

.tooltip-name,
.tooltip-version {
    --line-clamp: 3;
    @include tooltip-text-line-clamp;
}

.button-and-edit-button-container {
    max-width: 100%;
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .button-conntainer {
        z-index: 2;
        width: 100%;
        background-color: #fff;
        transition: 0.15s ease-in-out;

        .button {
            height: 34px;
            width: 100%;
            justify-content: flex-start;
            column-gap: 4px;
            font-size: 1.4rem;
            line-height: 1.6;
            font-weight: 300;
            color: #000;
            background-color: #fff;
            padding: 4px 8px;
            border-radius: 99px;
            border: 1px solid transparent;
            cursor: pointer;

            &.no-link-cursor {
                cursor: default;
            }

            .image {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                object-fit: cover;
            }

            .name-link {
                height: 24px;
                min-width: 30%;
                flex: 1;
                display: flex;
                column-gap: 4px;

                .name {
                    @include line-clamp;

                    line-height: 24px;
                    margin-left: 0px;
                    text-align: left;
                    word-break: break-all;
                }

                .link {
                    display: grid;
                    place-items: center;
                    font-size: 16px;
                    color: #2f8ec6;
                }
            }

            .version {
                @include line-clamp;

                word-break: break-all;
                text-align: right;
                max-width: 40%;
                min-width: 20%;
                margin-left: auto;
            }

            &.sourcecode-list,
            &.technology-list {
                display: inline-flex;
                align-items: center;
                column-gap: 4px;
                color: #000;
                font-weight: 400;
                line-height: 1.6;
                border-radius: 4px;
                border: 1px solid #41bc8a;
            }

            &.library-list {
                font-size: 1.5rem;
                border: 1px solid #41bc8a;
                border-radius: 99px;
            }
        }
    }

    .edit-button-container {
        position: absolute;
        z-index: 0;
        column-gap: 2px;
        right: 6px;
        display: flex;
        transition: 0.25s;

        .technology-button {
            width: 28px;
            height: 28px;
            padding: 2px;
            color: #fff;
            background-color: #fff;
            font-size: 12px;

            &.move-button {
                background-color: var(--primary-color);
                font-size: 20px;
                cursor: all-scroll;
            }

            &.edit-button {
                background-color: var(--button-bgc-midnight);
                font-size: 18px;
                cursor: pointer;
            }

            &.delete-button {
                background-color: red;
                margin-right: -6px;
                position: relative;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    &.sourcecode-list {
        align-self: flex-start;

        .edit-button-container {
            top: 30px;
            left: 50%;
            z-index: 4;
            width: 88px;
            display: flex;
            opacity: 0;
            visibility: hidden;
            transition: 0.15s ease-in-out;
            transform: translate(-50%, 0);
        }
    }

    &.can-edit {
        &:hover,
        &.hover-button {
            .button-conntainer {
                margin-right: 90px;
            }

            .edit-button-container {
                z-index: 4;
                display: flex;
                opacity: 1;
                visibility: visible;
            }
        }

        &.sourcecode-list {
            &:hover,
            &.hover-button {
                .button-conntainer {
                    margin-right: 0;
                }

                .edit-button-container {
                    z-index: 4;
                    margin-top: 6px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

// =================================================================
// Mobile
@media (max-width: 767px) {
    .button-and-edit-button-container {
        &.can-edit {
            &.sourcecode-list {
                align-self: stretch;

                .button-conntainer {
                    transition: 0.15s ease-in-out;
                }

                .edit-button-container {
                    z-index: 0;
                    opacity: 1;
                    visibility: visible;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    left: auto;
                    transition: none;
                }

                &.hover-button {
                    .button-conntainer {
                        margin-right: 90px;
                    }

                    .edit-button-container {
                        margin-top: 0;
                        right: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }

                &:hover {
                    .button-conntainer {
                        margin-right: 90px;
                    }

                    .edit-button-container {
                        margin-top: 0;
                    }
                }
            }
        }

        &.sourcecode-list {
            align-self: stretch;
        }
    }
}
