.container {
    height: 100vh;
    padding: 0 100px;
    display: flex;
    flex-direction: column;

    .title {
        padding-top: 100px;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
    }

    .add-user-btn {
        margin-top: 40px;
        align-self: flex-end;
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-size: 1.6rem;
        background-color: #04aa6d;
        color: #fff;
        padding: 6px 12px;
        border-radius: 4px;
        border: 1px solid #04aa6d;
        cursor: pointer;

        &:hover {
            background-color: red;
            border-color: red;
        }

        .add-user-text {
            margin-bottom: 0;
        }
    }

    .table-users {
        font-size: 1.4rem;
        line-height: 1.5;
        margin-top: 30px;
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04aa6d;
            color: white;
        }

        tbody {
            tr {
                .actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 4px;

                    .edit-user,
                    .delete-user {
                        display: inline-block;
                        font-size: 25px;
                        padding: 4px 4px;
                        cursor: pointer;
                    }

                    .delete-user {
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}
