@import '../GlobalStyles/GlobalStyles.module.scss';

.pag {
    .page-item {
        &.active > .page-link {
            color: #fff;
            background-color: var(--green-02);
        }

        .page-link {
            font-size: 1.6rem;
            color: var(--green-02);
            border: none;
            margin-bottom: 8px;
            padding: 8px 12px;
            border-radius: 4px;

            &:hover,
            &:focus {
                color: #fff;
                background-color: var(--green-02);
                outline: none !important;
                box-shadow: none;
            }
        }
    }
}
