@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.forgot-password-container {
    .form-forgot-password {
        .title {
            @include auth-title;
        }

        .success-message {
            margin-bottom: 16px;
            color: #00b14f;
            background: rgba(0, 177, 79, 0.05);
            font-size: 1.4rem;
            padding: 10px 12px;
        }

        .form-group {
            display: flex;
            flex-direction: column;

            .form-label {
                font-weight: 600;
                line-height: 1.8rem;
                font-size: 1.5;
            }

            .input-form {
                margin-top: 6px;
                height: 40px;
                padding: 8px 12px;
                border: 1px solid #b3b3b3;
                border-radius: 4px;
                outline: none;
                font-size: 1.4rem;

                &:hover {
                    border-color: #1dbfaf;
                }
            }

            .error-message {
                @include error-message-form;
            }
        }

        .submit-btn {
            @include solid-btn;

            font-family: inherit !important;
            margin-top: 24px;
            width: 100%;
            border-radius: 4px;
        }
    }

    .switch-to-signin-signup {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
            font-size: 1.4rem;
        }

        & > .signin-btn,
        .signup-btn {
            @include regular-btn;

            font-family: inherit !important;
        }
    }
}

// Mobile
@media (max-width: 767px) {
    .forgot-password-container {
        width: 100%;

        .switch-to-signin-signup {
            flex-wrap: wrap;
            row-gap: 12px;
        }
    }
}
