@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.reset-password-container {
    @include signin-signup-container;

    .form-reset-password {
        display: flex;
        flex-direction: column;

        .title {
            @include auth-title;
        }

        .form-group {
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .label {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.4;
            }

            .input-form-container {
                margin-top: 4px;
                position: relative;

                .input-form {
                    width: 100%;
                    height: 40px;
                    padding: 8px 12px;
                    padding-right: 48px;
                    border: 1px solid #b3b3b3;
                    border-radius: 4px;
                    outline: none;
                    font-size: 1.4rem;
                }

                .toggle-show-password {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translate(0, -50%);
                    display: grid;
                    place-items: center;

                    .eye {
                        font-size: 30px;
                        padding: 4px;
                        cursor: pointer;
                        color: #444;

                        &.green-eye {
                            color: var(--primary-color);
                        }
                    }
                }
            }

            &:hover {
                .input-form-container {
                    .input-form {
                        border-color: var(--auth-hover-input-border-color-green);
                    }
                }
            }

            .message-container {
                height: 36px;

                .error-message {
                    @include auth-form-error-message;
                    text-align: center;
                }

                .rule-password {
                    text-align: left;
                    margin-left: 8px;
                    color: #4d5965;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    margin-top: 10px;
                    padding-left: 1rem;
                    list-style-type: disc;
                }
            }

            &:nth-child(4),
            &:nth-child(5) {
                .input-form {
                    padding-right: 42px;
                }
            }

            &:has(div.error-message) {
                .input-form {
                    border-color: var(--auth-error-input-border-color-red);
                }
            }
        }
    }

    .submit-btn {
        @include solid-btn;

        font-family: inherit !important;
        margin-top: 28px;
        width: 100%;
        border-radius: 4px;
    }

    .switch-to-signin-signup {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .text {
            font-size: 1.4rem;
        }

        & > .signin-btn {
            @include regular-btn;

            font-family: inherit !important;
            margin-left: 20px;
        }
    }
}
