@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.header {
    font-family: var(--alexandria-font);
    height: 68px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #e4e6eb;

    .logo-link {
        .logo {
            height: 30px;
        }
    }

    .navbar {
        margin-left: 24px;
        margin-right: auto;

        .list {
            display: flex;
            align-items: center;

            .item {
                .link {
                    font-size: 1.5rem;
                    font-weight: 400;
                    padding: 8px 24px;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        column-gap: 12px;
        flex-shrink: 0;

        .signin {
            @include btn-solid;
            white-space: nowrap;
        }

        .signup {
            @include btn-solid;
            color: var(--primary-color);
            border-color: var(--primary-color);
            background-color: #fff;
        }
    }

    .login {
        display: flex;
        align-items: center;
        column-gap: 12px;

        .icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-size: 22px;
            background-color: #e5f7ed;
            border-radius: 50%;
            color: var(--primary-color);
        }

        .user {
            display: flex;
            align-items: center;
            column-gap: 8px;
            background: #fafafa;
            border-radius: 99px;
            padding: 4px 10px;

            .avatar {
                display: block;
                @extend .icon;

                overflow: hidden;
                object-fit: cover;
            }

            .fullname {
                display: block;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }
}
