.navbar {
    margin-left: 24px;
    margin-right: auto;

    .list {
        display: flex;
        align-items: center;

        .item {
            .link {
                font-size: 1.5rem;
                font-weight: 400;
                padding: 8px 24px;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}