@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.header {
    font-family: var(--alexandria-font);
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 32px;
    border-bottom: 1px solid #e4e6eb;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;

    .logo-link {
        .logo {
            height: 30px;
        }
    }

    .navbar {
        margin-left: 24px;
        margin-right: auto;

        .list {
            display: flex;
            align-items: center;

            .item {
                .link {
                    font-size: 1.5rem;
                    font-weight: 400;
                    padding: 8px 24px;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        column-gap: 12px;
        flex-shrink: 0;

        .btn {
            @include regular-btn;

            color: var(--primary-color);
            border-color: var(--primary-color);
            background-color: #fff;
        }

        .active {
            @include active-btn;
        }
    }

    .login {
        display: flex;
        align-items: center;
        column-gap: 12px;

        .icon {
            flex-shrink: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-size: 22px;
            background-color: #e5f7ed;
            border-radius: 50%;
            color: var(--primary-color);
            padding: 0;
        }

        .user {
            display: flex;
            align-items: center;
            column-gap: 8px;
            background: #fafafa;
            border-radius: 99px;
            padding: 4px 10px;
            cursor: pointer;

            .wapper {
                width: auto;

                .avatar {
                    display: block;
                    @extend .icon;

                    overflow: hidden;
                    object-fit: cover;
                }
            }

            .fullname {
                display: block;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }
}
