@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.container {
    display: flex;
    align-items: center;
    column-gap: 8px;
    min-width: 600px;

    * {
        cursor: pointer;
    }

    .search-bar {
        display: flex;
        align-items: center;
        flex: 1;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 99px;

        & * {
            color: #666;
        }

        .search-input {
            color: #000;
            font-size: 1.5rem;
            line-height: 1.6;
            flex: 1;
            height: 100%;
            border-radius: 99px 0 0 99px;
            padding: 0 20px;
            cursor: text;
        }

        .keyboard {
            font-size: 20px;
            padding: 0 8px;
            height: 100%;
            background-color: #fff;
        }

        .close {
            margin: 4px;
            font-size: 20px;
            padding: 0 8px;
            height: 100%;
            border-radius: 50%;
            background-color: #fff;
            display: none;

            &:hover {
                background-color: #ebebeb;
            }
        }

        .magnify {
            font-size: 20px;
            border-radius: 0 99px 99px 0;
            height: 100%;
            border-left: 1px solid #ccc;
        }
    }

    .micro-button {
        border-radius: 50%;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: 22px;
        background-color: var(--button-bgc-green-02);
        color: var(--primary-color);
    }
}

.search-result-tooltip {
    width: 540px;
    color: black;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;

    .search-result-container {
        .short-search-result {
            margin-top: 12px;
            display: flex;

            .product-name-desc {
                flex: 1;

                .product-name {
                    font-size: 1.6rem;
                    padding: 4px 4px 4px 0;
                    @include line-clamp;
                    line-height: calc(100% + 8px);
                    word-break: break-all;
                }

                .product-desc {
                    @extend .product-name;
                    --line-clamp: 6;
                    color: #555;
                    font-size: 1.4rem;

                    padding: 4px 4px 0 0;
                    line-height: 100%;
                }
            }

            .product-image {
                flex-basis: 30%;
                height: 120px;
            }
        }
    }
}

.not-found-result {
    text-align: center;

    &.hide {
        display: none;
    }
}
