@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.password-setting {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;

    .title {
        font-size: 2.2rem;
        font-weight: 600;
    }

    .rule-password {
        margin-left: 8px;
        color: red;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.4;
        margin-top: 10px;
        padding-left: 1rem;
        list-style-type: disc;

        & > li {
            margin-bottom: 4px;
        }
    }

    .change-password-form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .form-group {
            .input-form-password {
                position: relative;
                display: flex;
                align-items: center;

                .label {
                    min-width: 204px;
                    padding-right: 8px;
                    text-align: right;
                    color: #444;
                    font-weight: 500;
                }

                .input-form {
                    flex: 1;
                    padding: 0 44px 0 12px;
                    height: 40px;
                    background-color: #fff;
                    border: 1px solid #e9eaec;
                    border-radius: 2px;
                    font-size: 1.4rem;
                    line-height: 100%;
                    font-weight: 500;

                    &.verify {
                        padding: 0 70px 0 12px;
                    }
                }

                .icon-wrapper {
                    position: absolute;
                    top: 50%;
                    right: 46px;
                    transform: translate(0, -50%);
                    display: grid;
                    place-items: center;

                    .icon {
                        font-size: 20px;

                        &.verified {
                            color: green;
                        }

                        &.error {
                            color: red;
                            cursor: pointer;
                        }
                    }
                }

                .toggle-show-password {
                    position: absolute;
                    font-size: 40px;
                    top: 50%;
                    right: 4px;
                    transform: translate(0, -50%);
                    padding: 8px;
                    color: #777;
                    cursor: pointer;

                    &.green-eye {
                        color: var(--primary-color);
                    }
                }
            }

            .error-message {
                @include auth-form-error-message;
                width: initial;
                margin-left: 204px;
            }
        }

        .save-btn {
            width: 200px;
            align-self: flex-end;
            margin-top: 24px;
            margin-left: auto;
            margin-right: auto;
            background-color: #00b14f;
            border-radius: 6px;
            color: #fff;
            font-size: 1.6rem;
            line-height: 1.4;
            font-weight: 600;
            height: 42px;
            user-select: none;
            cursor: pointer;
        }
    }
}
