@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.password-setting {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;

    .title {
        font-size: 2.2rem;
        font-weight: 600;
    }

    .required {
        display: flex;
        align-items: center;
        column-gap: 4px;
        font-size: 1.6rem;
        font-weight: 400;
        color: red;
    }

    .change-password-form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .form-group {
            .input-form-password {
                position: relative;
                display: flex;
                align-items: center;
                column-gap: 8px;

                .label {
                    width: 190px;
                    text-align: right;
                    color: #666;
                    font-weight: 600;
                }

                .input-form {
                    flex: 1;
                    padding: 0 12px;
                    height: 40px;
                    background-color: #fff;
                    border: 1px solid #e9eaec;
                    border-radius: 2px;
                    font-size: 1.4rem;
                    line-height: 100%;
                    font-weight: 500;
                }

                .toggle-show-password {
                    position: absolute;
                    font-size: 38px;
                    top: 50%;
                    right: 4px;
                    transform: translate(0, -50%);
                    cursor: pointer;
                    padding: 8px;
                }
            }

            .error-message {
                @include auth-form-error-message;
            }
        }

        .save-btn {
            width: 200px;
            align-self: flex-end;
            margin-top: 24px;
            margin-left: auto;
            margin-right: auto;
            background-color: #00b14f;
            border-radius: 6px;
            color: #fff;
            font-size: 1.6rem;
            line-height: 1.4;
            font-weight: 600;
            height: 42px;
            cursor: pointer;
        }
    }
}
