@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.personal-info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;

    .title {
        font-size: 2.2rem;
        font-weight: 600;
    }
    .error-message-container {
        height: 40px;

        .error-message {
            margin-left: 100px;
            @include auth-form-error-message;
            width: initial;
            text-align: center;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .form-group {
            position: relative;
            display: flex;
            align-items: center;

            .form-label {
                min-width: 100px;
                font-weight: 600;
            }

            .form-input-container {
                flex: 1;

                .form-input {
                    width: 100%;
                    padding: 0 44px 0 12px;
                    height: 40px;
                    background-color: #fff;
                    border: 1px solid #e9eaec;
                    border-radius: 6px;
                    font-size: 1.4rem;
                    line-height: 100%;
                    font-weight: 500;

                    &.email {
                        background-color: rgba(238, 238, 238, 0.6);
                    }
                }

                .icon-wrapper {
                    padding: 8px;
                    position: absolute;
                    top: 50%;
                    right: 4px;
                    transform: translate(0, -50%);
                    display: grid;
                    place-items: center;
                    cursor: pointer;

                    .icon-clear {
                        font-size: 20px;
                        color: #aaa;
                    }
                }
            }
        }

        .save-btn {
            width: 200px;
            align-self: flex-end;
            margin-top: 24px;
            margin-left: auto;
            margin-right: auto;
            background-color: #00b14f;
            border-radius: 6px;
            color: #fff;
            font-size: 1.6rem;
            line-height: 1.4;
            font-weight: 600;
            height: 42px;
            user-select: none;
            cursor: pointer;
        }
    }
}
