@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.user-id-setting {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    border-radius: 16px;
    background-color: #fff;

    .title {
        font-size: 2rem;
        font-weight: 600;
    }

    .required {
        display: flex;
        column-gap: 4px;
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 300;
        color: red;
        align-items: center;
    }

    .form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .input-form-userID {
            .form-group {
                display: flex;
                align-items: center;
                column-gap: 12px;

                .form-label {
                    width: 120px;
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-align: left;
                }

                .form-input-container {
                    flex: 1;
                    position: relative;

                    .form-input {
                        width: 100%;
                        padding: 0 12px;
                        height: 40px;
                        background-color: #fff;
                        border: 1px solid #e9eaec;
                        border-radius: 2px;
                        font-size: 1.4rem;
                        line-height: 100%;
                        font-weight: 500;

                        &.padding-right {
                            padding-right: 40px;
                        }
                    }

                    .icon-wrapper {
                        position: absolute;
                        top: 50%;
                        right: 12px;
                        transform: translate(0, -50%);
                        display: grid;
                        place-items: center;

                        .icon {
                            font-size: 20px;

                            &.verified {
                                color: green;
                            }

                            &.error {
                                font-size: 22px;
                                color: red;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .message-container {
            min-height: 40px;

            .message {
                margin-left: 132px;
                font-size: 1.4rem;
                font-weight: 400;

                &.verified {
                    @include auth-form-success-message;
                    margin-top: 0;
                    width: initial;
                }

                &.error {
                    @include auth-form-error-message;
                    margin-top: 0;
                    width: initial;
                }
            }
        }

        .save-btn {
            width: 200px;
            align-self: flex-end;
            margin-top: 12px;
            margin-left: auto;
            margin-right: auto;
            background-color: #00b14f;
            border-radius: 6px;
            color: #fff;
            font-size: 1.6rem;
            line-height: 1.4;
            font-weight: 600;
            height: 42px;
            user-select: none;
            cursor: pointer;
        }
    }
}

// =========================================================================
// Tablet + Mobile
@media (max-width: 991px) {
    .user-id-setting {
        .form {
            .input-form-userID {
                .form-group {
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 6px;

                    .form-input-container {
                        width: 100%;

                        .form-input {
                            padding: 11px 12px;
                            max-height: 40px;
                        }
                    }
                }
            }

            .message-container {
                .message {
                    margin-left: 0;
                    text-align: center;
                }
            }
        }
    }
}
