.body {
    background-color: #f0f2f5;

    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
    }

    .wrapper {
        max-width: 1100px;
        padding-top: 20px;
        margin: 0 auto;
        display: flex;

        .col-left {
            padding: 20px;
            color: #fff;
            background-color: #37474f;
        }

        .col-right {
            .product-list {
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                background-color: #f0f2f5;
            }
        }
    }
}
