.body {
    background-color: #f0f2f5;
    overflow: scroll;

    [contentEditable] {
        word-break: break-all;
        border: 1px solid transparent;

        &:empty:not(:focus):before {
            content: attr(placeholder);
            color: #999;
            font-style: italic;
            font-weight: 300;
        }

        &:focus,
        :hover {
            outline: none;
            border: 1px dashed #999;
        }

        &:hover {
            cursor: text;
            border: 1px dashed #999;
        }
    }

    .wrapper {
        margin-top: var(--header-height);
        padding-top: 20px;

        .col-left {
            padding: 20px;
            color: #fff;
            background-color: #37474f;
            height: 100%;

            .avatar-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0;

                .inner {
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                    border: 8px solid var(--primary-color);
                    outline: 12px solid rgba(73, 178, 83, 0.4);
                }
            }

            .full-name {
                text-align: center;
                font-size: 3rem;
                line-height: 1.5;
                font-weight: 600;
                margin: 30px 0;
            }

            .separate {
                height: 1px;
                background-color: #fff;
                border-radius: 10px;
                margin: 12px 0;
            }
        }

        .col-right {
            .applied-position {
                min-height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #212a2f;
                padding: 20px;

                .job-title {
                    padding: 12px;
                    display: block;
                    font-size: 5rem;
                    line-height: 1.5;
                    font-weight: 700;
                    text-align: center;
                    color: #fff;
                }
            }

            .product-list {
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                background-color: #f0f2f5;
            }
        }

        .text {
            margin-left: 20px;
            background-color: #fff;
            height: 100%;
        }
    }
}
