.body {
    background-color: #f0f2f5;

    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
    }

    .wrapper {
        max-width: 1100px;
        padding-top: 20px;
        margin: 0 auto;
        display: flex;

        // Column left
        .col-left {
            padding: 20px;
            color: #fff;
            background-color: #37474f;
        }

        // Column right
        .col-right {
            .row-job-title {
                background-color: #212a2f;

                .job-title {
                    padding: 50px 20px;
                    display: block;
                    font-size: 5rem;
                    font-weight: 700;
                    text-align: center;
                    color: #fff;
                }

                .skills {
                    margin-top: 20px;
                    font-size: 3rem;
                    font-weight: 500;
                }
            }

            // experience
            .experience {
                .real-product {
                    padding: 12px 4px;
                    background-color: rgb(33, 42, 47, 0.6);

                    .title {
                        padding: 6px 4px 4px 6px;
                        text-align: center;
                        font-size: 3rem;
                        color: var(--primary-color);
                        font-weight: 600;
                    }
                }

                .product-list {
                    display: grid;
                    grid-template-columns: auto;
                    row-gap: 8px;
                    background-color: #f0f2f5;
                }
            }
        }
    }
}
