.tooltip-wrapper {

    .inner-wrapper {
        margin-right: 20px;
        background-color: red;
        padding: 16px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.06);

        .body {
            margin-right: 10px;
        }
    }
}
