@import 'reset-css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fb3e5a;
}

html,
body {
    font-size: 62.5% !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.6rem !important;
}

// Common
button,
input,
select,
textarea {
    font-family: inherit;
}

a {
    text-decoration: none;
}

@mixin btn-solid {
    width: 100%;
    color: var(--primary-color);
    background-color: #fff;
    padding: 8px 20px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.85;
    color: #fff;
    background-color: var(--primary-color);

    &:hover {
        opacity: 1;
    }
}

@mixin btn-regular {
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid var(--primary-color);
    padding: 6px 20px;
    font-size: 1.6rem;
}
