@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fb3e5a;
}

html,
body {
    font-size: 62.5% !important;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.6rem !important;
}

// Common
button,
input,
select,
textarea {
    font-family: inherit;
}

a {
    text-decoration: none;
}

@mixin btn-solid {
    width: 100%;
    color: var(--primary-color);
    background-color: #fff;
    padding: 8px 20px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.85;
    color: #fff;
    background-color: var(--primary-color);

    &:hover {
        opacity: 1;
    }
}

@mixin btn-regular {
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid var(--primary-color);
    padding: 6px 20px;
    font-size: 1.6rem;
}

@mixin line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
