@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.side-bar {
    position: fixed;
    top: var(--header-height-pc);
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 9;
    padding: 12px;
    row-gap: 12px;

    .button {
        padding: 8px;
        height: 80px;
        width: 80px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        background-color: var(--button-bgc-green-02);
        transition: 0.25s;

        .icon {
            font-size: 24px;
            color: var(--primary-color);
        }

        .text {
            font-size: 1.2rem;
            font-weight: 500;
            color: #1a1a1a;
        }

        &:hover,
        &.hover {
            color: #fff;
            background-color: var(--primary-color);

            .icon,
            .text {
                color: #fff;
            }
        }
    }
}

// =================================================================
// Tablet + Mobile
@media (max-width: 991px) {
    .side-bar {
        flex-direction: row;
        top: auto;
        right: 0;
        justify-content: space-around;
        padding: 4px 12px;
    }
}

// =================================================================
// Tablet
@media (min-width: 768px) and (max-width: 991px) {
    .side-bar {
        height: var(--header-height-pc);
        padding: 8px 16px;
        border-top: 1px solid #e4e6eb;

        .button {
            height: 100%;
            background-color: transparent;
            border-radius: 4px;
            row-gap: 4px;

            .icon {
                font-size: 24px;
                color: rgb(101, 103, 107);
                display: grid;
                place-items: center;
            }

            .text {
                color: rgb(101, 103, 107);
            }

            &:hover,
            &.hover {
                background-color: transparent;

                .icon,
                .text {
                    color: var(--primary-color);
                }
            }
        }
    }
}

// =================================================================
// Mobile
@media (max-width: 767px) {
    .side-bar {
        height: var(--header-height-mobile);
        padding: 6px 12px;
        border-top: 1px solid #e4e6eb;

        .button {
            padding: 8px 0;
            height: 100%;
            background-color: transparent;
            border-radius: 4px;
            row-gap: 4px;

            .icon {
                font-size: 20px;
                color: rgb(101, 103, 107);
                display: grid;
                place-items: center;
            }

            .text {
                color: rgb(101, 103, 107);
            }

            &:hover,
            &.hover {
                background-color: transparent;

                .icon,
                .text {
                    color: var(--primary-color);
                }
            }
        }
    }
}
