@import '../../components/GlobalStyles/GlobalStyles.module.scss';

.signin-container {
    @include signin-signup-container;

    .form-signin {
        width: 100%;
        text-align: right;

        .title {
            @include auth-title;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            text-align: left;

            .form-label {
                margin-top: 20px;
                font-weight: 600;
                line-height: 1.5rem;
                font-size: 1.4;
            }

            .input-form-container {
                margin-top: 8px;
                position: relative;
                height: 40px;
                border: 1px solid #b3b3b3;
                border-radius: 4px;
                overflow: hidden;
                display: flex;
                align-items: center;

                .label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 44px;
                    padding: 8px;
                    border-right: 1px solid #b3b3b3;
                    background-color: #fff;

                    .form-icon {
                        font-size: 20px;
                        color: var(--primary-color);
                    }
                }

                .input-form {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    padding: 0 16px 0 8px;
                    flex: 1;
                    height: 100%;
                    font-size: 1.4rem;

                    &::placeholder {
                        color: #8d8b8b;
                    }

                    &:focus {
                        background-color: #fff;
                    }
                }

                .toggle-show-password {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translate(0, -40%);

                    .eye {
                        font-size: 30px;
                        padding: 4px;
                        cursor: pointer;
                        color: #444;
                    }
                }
            }

            .error-message {
                @include error-message-form;
            }

            &:nth-child(3) {
                .input-form {
                    padding-right: 42px;
                }
            }
        }

        .forgot-password {
            display: inline-block;
            margin-top: 16px;
            font-size: 1.4rem;
            font-weight: 500;
            color: #1c74e4;
            background-color: #fff;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 3px;
            }
        }

        .submit-btn {
            @include solid-btn;

            font-family: inherit !important;
            margin-top: 20px;
            width: 100%;
            border-radius: 4px;
        }
    }

    .signin-with-google {
        width: 100%;
        margin-top: 22px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        row-gap: 12px;
        column-gap: 12px;

        .text {
            font-size: 1.4rem;
        }
    }

    .switch-to-signin-signup {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .text {
            font-size: 1.4rem;
        }

        & > .signup-btn {
            @include regular-btn;

            font-family: inherit !important;
            margin-left: 12px;
        }
    }
}

// Mobile
@media (max-width: 767px) {
}
