@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.library-used {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid var(--primary-color);

    .library-heading {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 8px 8px;
        text-align: center;
        color: var(--primary-color);
    }

    .divide {
        margin-top: 8px;
        display: flex;
        justify-content: space-evenly;

        .text {
            flex: 1;
            display: inline-block;
            padding: 8px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--primary-color);
            border: 1px solid currentColor;
            background-color: #fff;
            border-radius: 0;
            cursor: pointer;

            &.active {
                color: #fff;
                border: 1px solid var(--primary-color);
                background-color: var(--primary-color);
            }
        }
    }

    .library-list {
        width: 100%;
        min-height: 320px;
        margin-top: 12px;
        display: flex;
        flex-direction: column;

        .button {
            justify-content: flex-start;
            column-gap: 4px;
            font-size: 1.5rem;
            font-weight: 300;
            background-color: transparent;
            padding: 4px 12px;
            border-radius: 99px;
            width: 100%;

            &:hover {
                background-color: rgba(65, 188, 138, 0.1);
            }

            .image-icon {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                object-fit: contain;
                border: none;
                border: 3px solid transparent;
            }

            .name {
                @include line-clamp;

                flex: 1;
                margin-left: 0px;
                padding-right: 8px;
                text-align: left;
                word-break: break-all;
            }

            .version {
                margin-left: auto;
            }
        }
    }

    .add-btn {
        margin-top: 12px;
        text-align: center;
        padding: 8px;
        color: var(--primary-color);
        background-color: var(--button-bgc-green-02);
        border-radius: 4px;
        font-size: 20px;

        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: var(--button-bgc-green-01);
        }

        .left-icon {
            display: grid;
            place-items: center;
        }

        .text {
            font-size: 1.4rem;
        }
    }

    .add-library {
        margin-top: 12px;
        padding: 8px;
        border: 1px dashed #333;

        .info {
            display: flex;
            flex-direction: column;
            row-gap: 4px;

            .img-wrapper {
                border: 1px dashed transparent;
                align-self: flex-start;
                width: 100%;
                display: flex;
                justify-content: center;

                .image {
                    width: 80px;
                    height: 80px;
                }
            }

            .input-form {
                font-size: 1.4rem;
                border: 1px dashed #333;
                padding: 4px;

                &:hover {
                    border: 1px solid var(--primary-color);
                }
            }
        }

        .actions {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            column-gap: 12px;

            .btn {
                min-width: 80px;
                padding: 8px 12px;
                color: #fff;
                border-radius: 4px;
                cursor: pointer;

                &.cancel {
                    background-color: #212f3f;
                }

                &.add {
                    background-color: var(--primary-color);

                    &:hover {
                        .add-library {
                            border: 1px solid var(--primary-color);
                        }
                    }
                }
            }
        }
    }

    .paganition {
        margin-top: 12px;
        display: flex;
        justify-content: center;
    }
}
