.candidate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    .avatar-outline,
    .avatar-border {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .avatar-outline {
        border: 12px solid rgba(73, 178, 83, 0.4);

        .avatar-border {
            border: 8px solid var(--primary-color);
        }
    }

    .full-name {
        font-size: 3rem;
        font-weight: 600;
        margin-top: 30px;
    }
}
