.row-job-title {
    background-color: #212a2f;

    .job-title {
        padding: 50px 20px;
        display: block;
        font-size: 5rem;
        font-weight: 700;
        text-align: center;
        color: #fff;
    }

    .skills {
        margin-top: 20px;
        font-size: 3rem;
        font-weight: 500;
    }
}
