@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.button {
    justify-content: flex-start;
    column-gap: 4px;
    font-size: 1.5rem;
    font-weight: 300;
    background-color: transparent;
    padding: 4px 12px;
    border-radius: 99px;
    width: 100%;

    &:hover {
        background-color: rgba(65, 188, 138, 0.1);
    }

    .image-icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: contain;
        border: none;
        border: 3px solid transparent;
    }

    .name {
        @include line-clamp;

        flex: 1;
        margin-left: 0px;
        padding-right: 8px;
        text-align: left;
        word-break: break-all;
    }

    .version {
        margin-left: auto;
    }
}
