@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.technology-list {
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    position: relative;

    &.non-library-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 4px;
        row-gap: 4px;
    }
}

.add-new-technology-button-container {
    width: 100%;

    .add-new-technology-button {
        width: 100%;
        margin: 12px auto;
        text-align: center;
        padding: 8px;
        color: var(--primary-color);
        background-color: var(--button-bgc-green-02);
        border-radius: 4px;
        font-size: 20px;
        column-gap: 8px;

        &.non-library-button {
            width: auto;
        }

        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: var(--button-bgc-green-01);
        }

        .left-icon {
            display: grid;
            place-items: center;
            font-size: 24px;
        }

        .text {
            font-size: 1.4rem;
        }
    }

    &.non-library-button-container {
        .add-new-technology-button {
            display: flex;
            width: auto;
        }
    }
}

.add-new-technology-form {
    &.non-library-form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
