.candidate-info {
    padding: 12px 0;

    .text {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .content {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        .info {
            display: flex;
            padding-left: 8px;

            .icon {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: var(--primary-color);
                margin-right: 8px;
                padding: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                color: #fff;
            }

            .info-text {
                width: 100%;
                font-size: 1.5rem;
                line-height: 1.6;
                font-weight: 300;
                word-break: break-all;
            }
        }
    }
}

.date-picker-container {
    color: #fff;

    .date-picker {
        font-size: 1.6rem;
        border-color: #fff;

        label {
            color: #fff;
        }
    }
}

.css-cwhad8-MuiDateCalendar-root {
    font-size: 1.6rem;
}
