@import '../../../components/GlobalStyles/GlobalStyles.module.scss';

.product {
    --text-color: #4abc8b;

    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 16px;

    .product-desc {
        .work-exp {
            padding-left: 4px;
            display: block;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--text-color);
            border-left: 4px solid #41bc8a;

            .exp {
                color: var(--text-color);
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 600;
            }
        }

        .desc {
            margin: 4px 0 12px;
            padding: 4px;
            font-size: 1.4rem;
            line-height: 1.6;
            color: #222;
            text-align: justify;
        }
    }

    .tooltip {
        font-size: 2rem;
        padding: 12px 16px;
        border-radius: 4px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        background-color: var(--primary-color);
        color: #fff;

        &:hover {
            cursor: pointer;
        }
    }

    .image {
        margin: 0 12px 12px 0;
        height: auto;
        min-height: 300px;
        max-height: 600px;
        width: 100%;
        object-fit: contain;
        border-radius: 0;
    }

    .source-code-section {
        height: 100%;
        display: grid;
        place-items: center;
        margin-left: 16px;

        .container {
            width: 100%;
            text-align: center;

            .title {
                width: 100%;
                display: block;
                padding: 2px 12px;
                font-size: 1.8rem;
                line-height: 1.6;
                font-weight: 600;
                color: var(--primary-color);
            }

            .list {
                margin-top: 4px;
                display: flex;
                align-items: center;
                row-gap: 2px;
                flex-wrap: wrap;
            }
        }
    }

    .technology {
        display: flex;

        .server {
            flex: 1;

            .server-side-title {
                display: block;
                font-size: 1.8rem;
                padding: 8px 12px;
                text-align: center;
                font-weight: 600;
                color: #fff;
                border: 1px solid currentColor;
                background-color: var(--primary-color);
            }

            .technology-used {
                font-family: var(--alexandria-font);
                border: 1px dashed var(--green-color-01);
                margin: 16px 0;
                padding: 12px;

                .technology-used-title {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 12px;

                    .title {
                        display: inline-block;
                        font-size: 1.6rem;
                        padding: 8px 12px;
                        text-align: center;
                        font-weight: 600;
                        color: #fff;
                        border: 1px solid currentColor;
                        border-radius: 99px;
                        background-color: var(--button-bgc-green-01);
                    }
                }

                .list {
                    margin-top: 4px;
                    display: flex;
                    align-items: center;
                    row-gap: 2px;
                    flex-wrap: wrap;
                }
            }

            .library-used {
                font-family: var(--alexandria-font);
                display: flex;
                flex-direction: column;
                position: relative;
                border: 1px dashed var(--green-color-01);
                padding: 12px;

                .library-used-title {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 12px;

                    .title {
                        display: inline-block;
                        font-size: 1.6rem;
                        padding: 8px 12px;
                        text-align: center;
                        font-weight: 600;
                        color: #fff;
                        border: 1px solid currentColor;
                        border-radius: 99px;
                        background-color: var(--button-bgc-green-01);
                    }
                }

                .library-filter-sort {
                    margin-top: 8px;
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                    line-height: 1.4;
                    column-gap: 4px;
                    height: 32px;

                    .library-filter {
                        flex: 1;
                        border: 1px solid var(--primary-color);
                        border-radius: 99px;
                        display: flex;
                        align-items: center;
                        padding: 0 8px 0 4px;
                        height: 100%;
                        column-gap: 4px;
                        overflow: hidden;

                        &:hover {
                            border: 1px solid var(--green-color-02);
                            outline: 2px solid var(--green-color-02);
                        }

                        .library-filter-icon {
                            display: grid;
                            place-items: center;
                            color: var(--primary-color);
                            font-size: 22px;
                        }

                        .library-filter-search {
                            flex: 1;
                            height: 100%;
                            line-height: 100%;
                            border-radius: 4px;
                            color: #444;
                        }
                    }

                    .library-sort {
                        display: flex;

                        .library-sort-heading {
                            color: #fff;
                            padding: 2px;
                            background-color: var(--primary-color);
                            border: 2px solid var(--primary-color);
                            white-space: nowrap;
                        }

                        .library-sort-select {
                            padding: 2px;
                            color: var(--primary-color);
                            border: 1px solid var(--primary-color);
                        }
                    }
                }

                .display {
                    margin: 12px 0;
                    display: flex;
                    align-items: center;
                    column-gap: 8px;

                    .label {
                        font-size: 1.4rem;
                        color: var(--green-color-01);
                        font-weight: 500;
                    }

                    .button {
                        flex: 1;
                        display: inline-block;
                        text-align: center;
                        font-size: 1.2rem;
                        line-height: 1.4;
                        color: var(--primary-color);
                        background-color: var(--button-bgc-green-02);
                        border-radius: 4px;
                        padding: 4px;

                        &:hover,
                        &.active {
                            cursor: pointer;
                            color: #fff;
                            background-color: var(--button-bgc-green-01);
                        }

                        &.active {
                            cursor: default;
                        }
                    }
                }

                .pagination-container {
                    margin-top: 12px;
                    display: grid;
                    place-items: center;
                }
            }

            &.front-end {
                margin-right: 16px;

                .server-side-title {
                    margin-right: -16px;
                }
            }

            &.back-end {
                margin-left: 16px;

                .server-side-title {
                    margin-left: -16px;
                }
            }
        }
        .separate {
            border: 1px solid var(--primary-color);
        }
    }

    .technology-section {
        margin-top: 20px;

        .technology-section-subject {
            padding: 2px 12px;
            font-size: 1.8rem;
            line-height: 1.6;
            font-weight: 600;
            color: var(--primary-color);
            border-left: 4px solid currentColor;
        }

        .technology-wrapper {
            padding: 8px;
            margin-top: 12px;
            border: 1px solid var(--primary-color);

            &.left {
                margin-right: 8px;
            }

            &.right {
                margin-left: 8px;
            }
        }
    }
}

.search-result-not-found-FE,
.search-result-not-found-BE {
    margin-top: 12px;
    text-align: center;
    font-size: 1.6rem;
    padding: 4px;
}
